<!DOCTYPE html>
<html>
<head>
<title>
NSFW Meme Website</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="refresh" content="15;url=http://192.168.50.78:80/" />
<style>
body {background-color:#000000;background-repeat:no-repeat;background-position:top left;background-attachment:fixed;}
p {text-align:center;font-family:Georgia, serif;font-size:48px;font-style:normal;font-weight:normal;color:#ffffff;background-color:#000000;}
</style>
</head>
<body>
<p><img src="{{meme_pic}}" width="400"></p>
</body>
</html>